# Python build artifacts
dist/
build/
*.egg-info/
.eggs/

# Python caches
__pycache__/
*.py[cod]

# Envs & OS
.venv/
.DS_Store

# VS Code extension deps & artifacts
vscode-onthefly/node_modules/
vscode-onthefly/out/
vscode-onthefly/*.vsix

# Local caches & example outputs
cache/
examples/results/
examples/AvgImprovement.png
examples/hugging_face.py
examples/Results.csv
examples/second.py
examples/experiments.py
